.custom-card {
  width: 350px;
  background-color: var(--background-paper);
  padding: 10px 20px;
  color: var(--text-primary);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0 var(--background-paper-shadow);
  margin: 10px 10px;
  user-select: none;
}

.custom-card:hover {
	-webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 10px 0 var(--background-paper-shadow);
            box-shadow: 0 0 10px 0 var(--background-paper-shadow);
  }
  100% {
    -webkit-box-shadow: 0 0 7px 0px var(--background-paper-hover);
            box-shadow: 0 0 7px 0px var(--background-paper-hover);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 10px 0 var(--background-paper-shadow);
            box-shadow: 0 0 10px 0 var(--background-paper-shadow);
  }
  100% {
    -webkit-box-shadow: 0 0 7px 0px var(--background-paper-hover);
            box-shadow: 0 0 7px 0px var(--background-paper-hover);
  }
}