body {
  margin: 0px;
  background-color: var(--background-default);
  font-family: 'Courier New', Courier, monospace;
}

button {  
  font-family: 'Courier New', Courier, monospace;
}

hr {
  margin: 0;
}

a, header {
  color: var(--text-primary);
}

/* Estilos para el scrollbar */
/* Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar vertical */
  background-color: var(--background-paper); /* Color de fondo del scrollbar */
}

/* Webkit thumb (barra deslizante) */
::-webkit-scrollbar-thumb {
  background-color: var(--background-paper-hover); /* Color de fondo del thumb */
  border-radius: 5px; /* Bordes redondeados del thumb */
}

/* Webkit track (fondo del scrollbar) */
::-webkit-scrollbar-track {
  background-color: var(--background-paper-shadow); /* Color del fondo del track */
}